@import '@vezham/docs-react/css/neutral.css';
@import '@vezham/docs-react/css/preset.css';
@import '@vezham/docs-story/css/preset.css';
@import '@vezham/docs-openapi/css/preset.css';

html {
  scrollbar-gutter: stable;
}

html > body[data-scroll-locked] {
  margin-right: 0 !important;

  --removed-body-scroll-bar-size: 0 !important;
}
