@import '@vezham/docs-react/css/neutral.css';
@import '@vezham/docs-react/css/preset.css';
@import '@vezham/docs-react/css/generated/glass.css';
@import '@vezham/docs-story/css/preset.css';
@import '@vezham/docs-openapi/css/preset.css';

@source '../../start/src/lib/layouts/docs';
@source '../../start/src/lib/pages/docs';

@variant xl {
  #nd-notebook-layout :is(#nd-page, #nd-toc) {
    padding-top: --spacing(8);
  }
}

html {
  scrollbar-gutter: stable;
}

html > body[data-scroll-locked] {
  margin-right: 0 !important;

  --removed-body-scroll-bar-size: 0 !important;
}
